<header class="p-3 bg-white text-dark">
  <div class="container">
    <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
      <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
        <li><a href="#" class="nav-link px-2 text-dark">Início</a></li>
        <li><a href="#" class="nav-link px-2 text-dark">Sobre</a></li>
        <li><a href="#" class="nav-link px-2 text-dark">Atendimento</a></li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown">
            Comprar
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="#">Motos</a></li>
            <li><a class="dropdown-item" href="#">Capacetes</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="#">Automóveis</a></li>
          </ul>
        </li>
      </ul>
      

      <form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3">
        <input type="search" class="form-control form-control-dark" placeholder="Search..." aria-label="Search">
      </form>

      <div class="text-end">
        <button type="button" class="btn btn-outline-dark me-2">Login</button>
        <button type="button" class="btn btn-outline-dark">Cadastro</button>
      </div>
    </div>
  </div>
</header>